<%= form_for @reply do |f| %>
  <% if @reply.errors.any? %>
    <div class="alert alert--error">
      <ul>
        <% @reply.errors.full_messages.each do |e| %>
          <li><%= e %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :parent_id %>
  <%= f.hidden_field :parent_type %>

  <div class="form-control">
    <%= f.label :body, class: 'form-control__label' %>
    <%= f.text_area :body, class: 'form-control__input' %>
  </div>

  <button type="submit" class="button">Reply</button>
<% end %>
