<div class="jobs-hero jobs-hero--fat-underline">
  <h1 class="jobs-hero__title">Jobs</h1>
  <p class="jobs-hero__blurb">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
  <%#= link_to 'Post a job', '#', class: 'button button--primary' %>
</div>

<div class="jobs-list">
  <% @jobs.each do |job| %>
    <%= link_to job, class: 'jobs-list-item' do %>
      <%= image_tag job.image(:thumb), class: 'jobs-list-item__image' %>
      <div class="jobs-list-item__company">
        <%= job.company %>
        <div class="jobs-list-item__location"><%= job.location %></div>
      </div>

      <div class="jobs-list-item__role">
        <%= job.title %>
        <div class="jobs-list-item__contract"><%= job.contract_type %></div>
      </div>

      <div class="jobs-list-item__date">
        <%= job.created_at.to_date.to_s(:long) %>
      </div>
    <% end %>
  <% end %>
</div>
