<div class="jobs-hero">
  <%= image_tag @job.image(:thumb) %>
  <h1 class="jobs-hero__title"><%= @job.title %></h1>
  <p class="jobs-hero__blurb">
    <strong><%= @job.contract_type %> &middot; <%= @job.company %> &middot; <%= @job.location %></strong>
    <br>
    <%= @job.created_at.to_date.to_s(:long) %>
  </p>
</div>

<div class="job-description">
  <%= link_to 'Apply for this job', @job.apply_link, class: 'button button--primary button--slimline job-description__apply' %>

  <%= simple_format @job.description %>

  <%= link_to 'Apply for this job', @job.apply_link, class: 'button button--primary button--slimline job-description__apply' %>
</div>
