<div class="edit-profile">
  <h1>Settings</h1>

  <% if @user.errors.any? %>
    <div class="alert alert--error">
      <ul>
        <% @user.errors.full_messages.each do |e| %>
          <li><%= e %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    You're currently logged in with <strong>Twitter</strong> as
    <strong>@<%= @user.twitter_username %></strong>.
  </p>

  <br>

  <%= form_for @user do |f| %>
    <div class="form-control">
      <%= f.label :name, class: 'form-control__label' %>
      <%= f.text_field :name, class: 'form-control__input' %>
    </div>

    <div class="form-control">
      <%= f.label :email, class: 'form-control__label' %>
      <%= f.email_field :email, class: 'form-control__input' %>
    </div>

    <div class="form-control">
      <%= f.label :location, class: 'form-control__label' %>
      <%= f.text_field :location, class: 'form-control__input' %>
    </div>

    <div class="form-control">
      <%= f.label :bio, class: 'form-control__label' %>
      <%= f.text_area :bio, class: 'form-control__input' %>
    </div>

    <% if @user.community_enabled? %>
    <div class="form-control">
      <%= f.label :notifications_enabled, 'Community notifications enabled?',  class: 'form-control__label' %>
      <%= f.check_box :notifications_enabled, class: 'form-control__input' %>
    </div>
    <% end %>

    <button type="submit" class="button">Update</button>
  <% end %>
</div>
