<div class="post-detail">
  <% if post.try(:title) %>
    <div class="post-detail__title"><%= post.title %></div>
  <% end %>

  <% if post.body? %>
    <div class="post-content post-content--depth-<%= [(defined?(depth) ? depth : 0), 5].min %>">
      <div class="post-user">
        <%= name(post.user) %>

        <div class="post-user__image">
          <%= image_tag post.user.image %>
        </div>
      </div>

      <div class="post-body">
        <div class="post-body__text">
          <%= auto_link(post.body.gsub(/\n/, '<br>'), html: { target: '_blank' }) { |t| truncate(t, length: 30) } %>
        </div>

        <div class="post-actions">
          <div class="post-actions__timestamp">
            <%= time_ago_in_words(post.created_at) %> ago
          </div>

          <div class="post-actions__links">
            <% if current_user == post.user && post.is_a?(Reply) %>
              <%= link_to 'Edit', edit_reply_path(post), class: 'button button--dark button--slim' %>
            <% end %>

            <% if user_signed_in? %>
              <%= link_to 'Reply', repliable_path(post), class: 'button button--dark button--slim' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="post-actions">
      <div class="post-actions__timestamp">
        Submitted <%= time_ago_in_words(post.created_at) %> ago by <%= name(post.user) %>
      </div>

      <div class="post-actions__links">
        <% if user_signed_in? %>
          <%= link_to 'Reply', repliable_path(post), class: 'button button--dark button--slim' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
