<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path, class: 'button' %>
<% end %>

<% @posts.each do |p| %>
  <div class="post">
    <%= link_to p.url? ? p.url : p, class: 'post__title', target: p.url? ? '_blank' : nil do %>
      <%= p.title %>

      <% if p.url? %>
        <span class="post__domain">(<%= p.domain %>)</span>
      <% end %>

      <div class="post__author">
        Submitted by <%= p.user.name %>
      </div>
    <% end %>

    <%= link_to p, class: 'button button--dark button--slim' do %>
      <i class="fa fa-comments"></i> View Comments
    <% end %>
  </div>
<% end %>

<% unless @posts.any? %>
  <div class="empty">
    <div class="empty__icon">
      <i class="fa fa-thumbs-down"></i>
    </div>
    <p class="empty__description">No posts here yet.</p>
  </div>
<% end %>
