<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div class="alert alert--error">
      <ul>
        <% @post.errors.full_messages.each do |e| %>
          <li><%= e %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control">
    <%= f.label :title, class: 'form-control__label' %>
    <%= f.text_field :title, class: 'form-control__input' %>
  </div>

  <div class="new-post__toggler">
    <button href="#" class="new-post__toggle button button--toggle button--toggle-left" data-toggle="url">URL</button>
    <button href="#" class="new-post__toggle button button--toggle button--toggle-right" data-toggle="body">Text Post</button>
  </div>

  <div class="form-control new-post__url">
    <%= f.label :url, 'URL', class: 'form-control__label' %>
    <%= f.url_field :url, class: 'form-control__input' %>
  </div>

  <div class="form-control new-post__body">
    <%= f.label :body, class: 'form-control__label' %>
    <%= f.text_area :body, class: 'form-control__input' %>
  </div>

  <% if current_user.admin? %>
    <div class="form-control">
      <%= f.label :sticky, 'Sticky?', class: 'form-control__label' %>
      <%= f.check_box :sticky, class: 'form-control__label' %>
    </div>
  <% end %>

  <button type="submit" class="button new-post__submit">Post</button>
<% end %>
