<div class="tools">
  <div class="tool-list tool-list--categories<% if !@products %> tool-list--active<% end %>">
    <% @categories.each do |c| %>
      <%= link_to c, class: c == @category ? 'tool tool--selected' : 'tool' do %>
        <div class="tool__title"><%= c.title %></div>
      <% end %>
    <% end %>
  </div>

  <% if @products %>
    <div class="tools__back">
      <%= link_to 'Back', root_url, class: 'button' %>
    </div>

    <div class="tool-list tool-list--products tool-list--active">
      <% @products.each do |p| %>
        <div class="tool tool--actionable <% if p.promoted? %>tool--promoted<% end %>">
          <% if user_signed_in? && p.favorited_by?(current_user) %>
            <i class="tool__favorited fa fa-star"></i>
          <% end %>
          <div class="tool__title"><%= p.title %></div>
          <div class="tool__description"><%= p.description %></div>
          <div class="tool__actions">
            <%= link_to 'Go', go_product_path(p), class: 'button', target: '_blank' %>

            <% if user_signed_in? %>
              <%= link_to p.favorited_by?(current_user) ? 'Unfavorite' : 'Favorite', product_favorites_path(p), class: 'button', method: p.favorited_by?(current_user) ? :delete : :post %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="tool-list">
      <% unless cookies[:subscribed_to_newsletter] %>
        <div class="ad ad--newsletter">
          <div class="ad__title">Subscribe to our newsletter!</div>

          <div class="ad__description">
            Get the best strategy tools, reads, and jobs in your inbox.
          </div>

          <div class="ad__body">
            <%= form_tag emails_path do %>
              <div class="form-control">
                <%= email_field_tag :email, nil, class: 'form-control__input', placeholder: 'Your e-mail address' %>
              </div>
              <%= submit_tag 'Subscribe', class: 'button button--primary' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
