<%= form_for @suggestion do |f| %>
  <% if @suggestion.errors.any? %>
    <div class="alert alert--error">
      <strong>Uh oh! Something went wrong:</strong>
      <ul>
        <% @suggestion.errors.full_messages.each do |e| %>
          <li><%= e %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control">
    <%= f.label :title, class: 'form-control__label' %>
    <%= f.text_field :title, class: 'form-control__input' %>
  </div>

  <div class="form-control">
    <%= f.label :description, class: 'form-control__label' %>
    <%= f.text_area :description, class: 'form-control__input' %>
  </div>

  <div class="form-control">
    <%= f.label :url, 'URL', class: 'form-control__label' %>
    <%= f.text_field :url, class: 'form-control__input' %>
  </div>

  <div class="form-control">
    <%= f.label :email, 'Your e-mail address', class: 'form-control__label' %>
    <%= f.email_field :email, class: 'form-control__input' %>
  </div>

  <div class="form-control">
    <%= f.label :twitter_username, 'Your Twitter username', class: 'form-control__label' %>
    <%= f.text_field :twitter_username, class: 'form-control__input' %>
  </div>

  <%= f.submit 'Suggest It!', class: 'button button' %>
<% end %>
